In [ ]:
#hide
#from your_lib.core import *

# TRR 265

> This project handles the analysis of the TRR 265 data...

This file will become your README and also the index of your documentation.

## Install

`pip install trr265` (not implemented yet)

## How to use

Fill me in please! Don't forget code examples:

In [ ]:
import trr265
from trr265 import data_provider as dp
dp.get_two_day_data()

,mov_index,participant,starting_date,date,sampling_day,MDBF_zufrieden,MDBF_ruhig,MDBF_wohl,MDBF_entspannt,soziale_isolation,alternative_rewards,craving,limit,control,drinks,g_alc
two_day_index,,,,,,,,,,,,,,,,
0,NaN,b001,2020-02-24,2020-02-22,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'AnzahlFlascheWeisswein': None, 'AnzahlFlasch...",6.4
1,NaN,b001,2020-02-24,2020-02-23,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'AnzahlFlascheWeisswein': 0.0, 'AnzahlFlasche...",35.2
2,6.0,b001,2020-02-24,2020-02-24,3,2.0,6.0,7.0,1.0,1.0,4.0,1.0,NaN,NaN,None,NaN
3,NaN,b001,2020-02-24,2020-02-25,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,NaN,b001,2020-02-24,2020-02-26,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139779,NaN,m234,2021-08-16,2022-08-12,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
139780,NaN,m234,2021-08-16,2022-08-13,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
139781,NaN,m234,2021-08-16,2022-08-14,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
139782,NaN,m234,2021-08-16,2022-08-15,367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
139783,NaN,m234,2021-08-16,2022-08-16,368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN